body { font-size: 100%; }

.pxfont { font-size: 16px; }

.ptfont { font-size: 16pt; }

.emfont { font-size: 1em; } /* relative to default font size*/

.pxbox {
  border: 1px solid #ff0000;
  padding: 10px;
  margin: 20px;
}

.embox {
  border: 1px solid #ff0000;
  padding: 1em;
  margin: 2em;
}

.percentbox {
  border: 1px solid #ff0000;
  padding: 5%;
  margin: 10%;
}    

h1 {
  border-bottom: 1px solid #000000;
  margin-bottom: 60px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  border: 1px solid #000000;
  padding: 0px;
  margin: 10px;
  width: 150px;
  color: #ffffff;
}

nav li a {
  color: #ffffff;
  display: block;
  border: 1px solid #000000;
  padding: 10px;
  background-color: #cc0000;
  text-decoration: none;
  background-image: linear-gradient(to top, #0f2796, #005abf, #0086d8, #00b0e4, #12d8eb);
}

nav li a:hover {
  background-color: #000000;
  background-image: linear-gradient(to bottom, #0f2796, #005abf, #0086d8, #00b0e4, #12d8eb);
}

.pixelwidth {
  border: 1px solid #ff0000;
  width: 100px;
}

.percentwidth {
  border: 1px solid #ff0000;
  width: 50%;
}

.blockimg {
  display: block;
}

.bordertop {
  border-top: 1px solid #ff0000;
}

.borderbottom {
  border-bottom: 1px solid #00ff00;
  padding-bottom: 20px;
}

.borderright {
  border-right: 1px solid #0000ff;
}

.borderleft {
  border-left: 1px solid #ff00ff;
}

.rainbowborder {
  border-top: 5px solid #ff0000;
  border-bottom: 10px solid #00ff00;
  border-right: 15px solid #0000ff;
  border-left: 2px solid #ff00ff;
}
