body {
  background-color: #cccccc;
  background-image: url(images/patch.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

main {
  background-color: #0000ff;
}

h1 {
  font-weight: normal;
  font-size: 16px;
}

.customtext{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}

.fontcombined {
font: bold 20px Arial, Helvetica, sans-serif;
}

.imgbox {
  border: 5px solid #ff0000;
  padding: 10px;
  background-color: #FFFFFF;
  margin: 20px 20px 0px 0px;
  width: 200px;
}

.boxmodel {
border: 2px solid #0000ff;
padding: 20px 20px 20px 20px;
margin: 10px 10px 10px 10px;
}

.otherbox {
  padding: 10px;
  margin: 20px;
  border: 1px solid #00ff00;
}

.zeroout {
  margin: 0;
  padding: 0;
}

.pwidth {
  border: 1px solid #ff0000;
  width: 100px;
  padding: 10px;
}

.textright {
  text-align: right;
}

.textleft {
  text-align: left;
}

.textcenter {
  text-align: center;
}

.textjustify {
  text-align: justify;
}

.textspace {
  letter-spacing: 20px;
}

.textheight {
  line-height: 20px;
}
