/* New stylesheet */

/*
selector{
  property: value;
  property: value;
}

color: #RRGGBB
*/

/*
p{
  color: #ff0000;
  background-color: #ddddff;
}
*/

a {
  color: #ff0000;
  text-decoration: none;
}

a:link{
  color: #00ff00;
}

a:visited{
  color: #0000ff;
}

a:active {
  color: #00ffff
}

a:hover {
  color: #999900;
  text-decoration: underline;
}

h1{
  color: #FFFFFF;
  background-color: #662a7c;
}

.spanstyle{
  color: #00aa<<<00;
}

#divexample{
  color: #0000ff;
  background-color: #ffff00;
}

/* Use this only ONCE in your html page.*/
#specialid {
  color: #99FFDD;
  background-color: #000000;
}

/* This can be used multiple times in your html page.*/
.specialp {
  color: #770077;
  background-color: #99FFDD;
}

footer{
  color: #ffffff;
  background-color: #ff0000;
}
