body { background-color: #999999; }

#wrapper {
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  margin: 1em auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 75px;
}

header {
  border: 1px solid red;
  grid-column: span 12;
}

nav {
  border: 1px solid red;
  grid-column: span 3;
}

main {
  border: 1px solid red;
  grid-column: span 9;
}

footer {
  grid-column: span 12;
  border: 1px solid red;
}

.floatimage {
  width: 100px;
  margin: 0 20px 20px 0;
  float: left;
}

.p1, .p2 {
  /* border: 1px solid #ff0000; */
}

.p2 {
  clear: both;
}

/* Commented out for grid layout
/* unordered list with no bullets
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* horizontal with float
nav li {
  display: inline-block;
  padding: 10px;
  border: 1px solid #000000;
  margin: 10px;
  width: 150px;
}
/*Commented out for grid layout*/

/* Grid example */
#borderwrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;/* repeat(12, 1fr) */
  grid-template-rows: 1fr 1fr;
}

.box {
  border: 1px solid blue;
}
